<!DOCTYPE html>
<html>
<head>
  <title>Ijustdid</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<a class="navbar-brand" style="color:rgb(255, 101, 0)"> I Just did </a>

		<form class="navbar-form navbar-left" role="search">
		 	<div class="form-group">
		   <input type="text" class="form-control" id='get-places' placeholder="Enter your address">
		  </div>
		  <button type="submit" class="btn btn-default"> Just Do!</button>
		</form>

		<div class="navbar-form navbar-right" role="search">
			<%= link_to "Log in", new_user_session_path, class: "btn btn-warning" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning" %>
		</div>
	</nav>

<%= yield %>

	<footer>
		<p><strong>Powered by David  |  Ironhack 2015</strong></p>
	</footer>

	<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" %>
</body>
</html>
