<!DOCTYPE html>
<html>
<head>
  <title>Ijustdid</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" style="color:rgb(255, 101, 0); font-size: 25px" > I Just Did</a>
			<form class="navbar-form navbar-left" role="search">
			 	<div class="form-group">
			  	<input type="text" class="form-control input-lg" id='get-places' placeholder="Enter your address">
			  </div>
			  <button type="submit" class="btn btn-default btn-lg"> Find a place!</button>
			</form>

			<div class="nav navbar-form navbar-right">
				<% if current_user %>
					<span style="margin-right: 30px; font-size: 20px">Hi <%= current_user.name %>!</span>
					<%= link_to "Logout", "/users/sign_out", method: :delete, class: "btn btn-danger btn-lg" %>
				<% else %>
					<%= link_to "Log in", new_user_session_path, class: "btn btn-warning btn-lg" %>
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg" %>
				<% end %>
			</div>
		</div>
	</nav>




	<%= yield %>




	<footer>
		<div id="footer-content">
			<p><strong>Powered by David  |  Ironhack 2015</strong></p>
			<a class="github-button" id="git-logo" href="https://github.com/Vid-Da" data-style="mega" data-count-href="/Vid-Da/followers" data-count-api="/users/Vid-Da#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @Vid-Da on GitHub">Follow @Vid-Da</a>
		</div>

	</footer>
	
	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" %>
</body>
</html>
